{% extends layout %}
{% block  content %}
    <main class="container">
            
            <h1><span class="badge ">Quack feed:</span></h1>

            {% for tweet in meeps %}
                <div class="card shadow mt-3 mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ tweet.body }}</h5>
                        <p class="card-text">{{ tweet.body }}</p>
                        <footer class="blockquote-footer">
                            <cite title="date">{{ tweet.created_at }}</cite>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </main>
    {% endblock %}